<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Horario del Profesor</title>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <style type="text/css">
        span {
            display: inline-block;
            width: 200px;
            text-align: left;
        }
    </style>
</head>
<body class="container">
<!-- navbar -->
<th:block th:replace="~{./navbar :: headers}"></th:block>
<!-- Fin navbar -->

<div class="d-flex justify-content-center align-items-center">
    <h1>Horario del Profesor</h1>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr class="text-left">
            <th>Horario</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="horario : ${horarios}">
            <td th:text="${horario.horario}">Horario</td>
            <td th:text="${horario.lunes}">Lunes</td>
            <td th:text="${horario.martes}">Martes</td>
            <td th:text="${horario.miercoles}">Miércoles</td>
            <td th:text="${horario.jueves}">Jueves</td>
            <td th:text="${horario.viernes}">Viernes</td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Footer -->
<div th:replace="~{./footer :: footer1}"></div>
<!-- Fin Footer -->

<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5yCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>
</body>
</html>
