<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pagina Inicio</title>
        <meta charset="UTF-8">
        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <!-- Bootstrap CSS v5.2.1 -->
    </head>
    <body class="container">
        <!-- navbar  -->
        <th:block th:replace="~{./navbar :: headers}"></th:block>
        <!-- Fin navbar  -->
        <div class="mx-auto text-center">
            <h1>Modificar Grupo</h1>
        </div>
        <div class="container">
            <form action="#" th:action="@{./modificar}" th:object="${grupo}" method="post">
                <div class="form-group">
                    <p><input type="hidden" th:field="*{id}" /></p>
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}"  />
                </div>
                <div class="form-group">
                    <label for="periodo">Periodo</label>
                    <select class="form-control" id="periodo" name="idPeriodo">
                        <option th:each="p : ${periodos}"
                                th:value="${p.id}"
                                th:text="${p.nombre}"
                                th:selected="${p.nombre == grupo.nombrePeriodoId}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fp">Formacion profesional</label>
                    <select class="form-control" id="fp" name="idFp">
                        <option th:each="fp : ${fps}"
                                th:value="${fp.id}"
                                th:text="${fp.nombre}"
                                th:selected="${fp.nombre == grupo.nombreFpId}">
                            Selecciona una FP
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="turno">Turno</label>
                    <select class="form-control" id="turno" name="idTurno">
                        <option th:each="turno : ${turnos}"
                                th:value="${turno.id}"
                                th:text="${turno.nombre}"
                                th:selected="${turno.nombre == grupo.nombreTurnoId}">
                            Selecciona un turno
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="modalidad">Modalidad</label>
                    <select class="form-control" id="modalidad" name="idModalidad">
                        <option th:each="modalidad : ${modalidades}"
                                th:value="${modalidad.id}"
                                th:text="${modalidad.nombre}"
                                th:selected="${modalidad.nombre == grupo.nombreModalidadId}">
                            Selecciona una modalidad
                        </option>
                    </select>
                </div>

                <div class ="py-3">
                    <button type="submit" class="btn btn-primary col-12">Enviar</button>
                </div>
            </form>

        </div>
        <!-- Footer  -->
        <div th:replace="~{./footer :: footer1}"></div>
        <!-- Fin Footer  -->
        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
                integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
                integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
        <!-- Bootstrap JavaScript Libraries -->
        <!-- Seleccionar el elemento en foco por defecto -->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                document.getElementById("nombre").focus();
            });
        </script>
        <!-- Seleccionar el elemento en foco por defecto -->

    </body>
</html>
