<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pagina Inicio</title>
        <meta charset="UTF-8">
        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <!-- Bootstrap CSS v5.2.1 -->
    </head>
    <body class="container">
        <!-- navbar  -->
        <th:block th:replace="~{./navbar :: headers}"></th:block>
        <!-- Fin navbar  -->
        <div class="mx-auto text-center">
            <h1>Grupos de un alumno Alumno</h1>
        </div>
        <div class="container">
            <div class="form-group">
                <p id="nombre-completo" th:text="${alumno.nombre + ' ' + alumno.apellido}" readonly style="border: none; cursor: default;"></p>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th colspan = "1" >Accion</th>
                        <!--     <th >id</th> -->
                        <th>Nombre</th>
                        <th>Formacion Profesional</th>
                        <th>Periodo</th>
                        <th>Turno</th>
                        <th>modalidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="gruposxalumno : ${gruposxalumnos}">

                        <td class="align-middle text-center"><a th:href="@{./eliminaralumnogrupo(codgrupo=${gruposxalumno.idGrupoAlumno}, codalumno=${alumno.id})}"><img src="/delete-bin-line.png" alt="Eliminar"></a></td>
                        <!-- <td th:text="${gruposxalumno.idGrupoAlumno}"></td> -->
                        <td class="text-center" th:text="${gruposxalumno.nombre}"></td>
                        <td class="text-center" th:text="${gruposxalumno.nombreFpId}"></td>
                        <td class="text-center" th:text="${gruposxalumno.nombrePeriodoId}"></td>
                        <td class="text-center" th:text="${gruposxalumno.nombreTurnoId}"></td>
                        <td class="text-center" th:text="${gruposxalumno.nombreModalidadId}"></td>
                    </tr>
                </tbody>
            </table>
            <form action="#" th:action="@{./alumnoxgrupo}" method="post" class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" name="filtro" id="filtro" aria-label="filtro" th:value="${filtro}" >
                <input type="hidden" name="codalumno" th:value="${alumno.id}" />
                <button class="btn btn-outline-primary" type="submit">Buscar</button>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th colspan = "1" >Accion</th>
                        <!--     <th >id</th> -->
                        <th>Nombre</th>
                        <th>Formacion Profesional</th>
                        <th>Periodo</th>
                        <th>Turno</th>
                        <th>modalidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="grupo : ${grupos}">
                        <!-- <td class="align-middle text-center"><a th:href="@{./eliminar?codgrupo={id}(id=${grupo.id})}"><img src="/add-box-line.png" alt="Eliminar"></a></td> -->
                        <td class="align-middle text-center"><a th:href="@{./altaalumnogrupo(codgrupo=${grupo.id}, codalumno=${alumno.id})}"><img src="/add-box-line.png" alt="Eliminar"></a></td>
                        <!-- <td th:text="${grupo.id}"></td>  -->
                        <td class="text-center" th:text="${grupo.nombre}"></td>
                        <td class="text-center" th:text="${grupo.nombreFpId}"></td>
                        <td class="text-center" th:text="${grupo.nombrePeriodoId}"></td>
                        <td class="text-center" th:text="${grupo.nombreTurnoId}"></td>
                        <td class="text-center" th:text="${grupo.nombreModalidadId}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Footer  -->
        <div th:replace="~{./footer :: footer1}"></div>
        <!-- Fin Footer  -->
        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
                integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
                integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
        </        
        <!-- Bootstrap JavaScript Libraries -->
        <!-- Seleccionar el elemento en foco por defecto -->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                document.getElementById("nombre").focus();
            });
        </script>
        <!-- Seleccionar el elemento en foco por defecto -->
    </body>
</html>
